<!-- Frame for the form -->
<div class="flex flex-col items-center flex-wrap justify-center">
<%= turbo_frame_tag "task_form" do %>
  <%= render "form", post: Task.new %>
<% end %>

<%= turbo_frame_tag "tasks" do %>
  <%= render @tasks %>
<% end %>
</div>
